 .body {
    width: 80rem !important;
    margin: 1rem auto !important;
 }

 .strong {
    font-weight: bolder;
 }

 #dashbord {
  height: 100vh;
  background: url('../../../assets/logo.png') no-repeat 400px bottom;
}