#page-home {
    height: 100vh;
  
    background: url('../../../assets/logo.png') no-repeat 800px bottom;
  }
  
  #page-home .content {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #page-home .content header {
    margin: 30px 0 0;
  }
  
  #page-home .content main {
    flex: 1;
    max-width: 560px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #page-home .content main h1 {
    font-size: 54px;
    color: var(--title-color);
  }
  
  #page-home .content main p {
    font-size: 24px;
    margin-top: 24px;
    line-height: 38px;
  }
  
  #page-home .content main button {
    width: 100%;
    max-width: 360px;
    height: 72px;
    background: var(--primary-color);
    border-radius: 8px;
    text-decoration: none;
  
    display: flex;
    align-items: center;
    overflow: hidden;
  
    margin-top: 50px;
  }
  
  #page-home .content main button {
    display: block;
    background: rgba(0, 0, 0, 0.08);
    width: 200px;
    height: 72px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1.2s;
  }
  
  #page-home .content main button {
    background: var(--primary-color);
  }

  #logo {
    height: 100px;
  }
  
  #page-home .content main button strong {
    flex: 1;
    text-align: center;
    color: #FFF;
  }
  
  #page-home .content main button:hover {
    background: #2f343d;
  }
  
  @media(max-width: 900px) {
    #page-home .content {
      align-items: center;
      text-align: center;
    }
  
    #page-home .content header {
      margin: 6px auto 0;
      height: 50px;
    }

    #logo {
      height: 50px;
    }
  
  
    #page-home .content main {
      align-items: center;
    }
  
    #page-home .content main h1 {
      font-size: 2px;
      margin-top: auto;
    }
  
    #page-home .content main p {
      font-size: 24px;
    }
  }
  